<h4>Food and Drinks</h4>
<ul>
	<li><%= link_to "The Portsmouth Brewery", "http://portsmouthbrewery.com/" %> - If you like beer and food, this should be your first stop.</li>
	<li><%= link_to "Redhook Brewery", "http://redhook.com/" %> - $1 Brewery tours with tasting, plus they have a restaurant on site.</li>
	<li><%= link_to "Flatbread Pizza", "http://www.flatbreadcompany.com/FlatbreadPortsmouth2010.html" %> - All local, fresh ingredients.</li>
	<li><%= link_to "Gilley's", "http://www.gilleyspmlunch.com/" %> - Greasy, cheap, and delicious... stop by here after the bars close.</li>
	<li><%= link_to "Portsmouth Gas Light", "http://www.portsmouthgaslight.com/" %> - Outdoor patio with live music every day. Dogs are allowed during the daytime.</li>
	<li><%= link_to "Breaking New Grounds", "http://bngcoffee.com/" %> - This is the place to go for coffee.</li>
	<li><%= link_to "Colby's", "http://www.yelp.com/biz/colbys-breakfast-and-lunch-portsmouth" %> - This is the best breakfast place... ever. Very small, so no big groups (and be prepared to wait on weekends).</li>
	<li><%= link_to "Lexie's Joint", "http://lexiesjoint.com/" %> - The best burgers in Portsmouth. Look for their daily specials.</li>
	<li><%= link_to "Thirsty Moose", "http://thirstymoosetaphouse.com/" %> - 116 brews on tap.</li>
	<li><%= link_to "Daniel Street Tavern", "http://www.danielstreettavern.com/" %> - End your night here singing karaoke here with Bob.</li>
	<li><%= link_to "Legends", "http://www.yelp.com/biz/legends-billiards-and-tavern-portsmouth" %> - Pool hall, darts...</li>
	<li>...there are so many more amazing restaurants, just take a look on yelp or ask us!</li>
</ul>

<h4>Sites</h4>
<ul>
	<li><%= link_to "Prescott Park", "http://prescottpark.org/" %> - Check out the calendar for events, or just take a walk.</li>
	<li><%= link_to "Strawberry Banke", "http://www.strawberybanke.org/" %> - Awesome if you enjoy history, just check out the website.</li>
	<li><%= link_to "Pierce Island", "http://www.portsmouthnh.com/thingstodo/todoDetail.cfm?TodoID=173&CategoryID=13" %> - Off leash dog park with walking trails, next to Prescott Park.</li>
</ul>

<h4>Deals</h4>
<ul>
	<li><%= link_to "Taste of the Seacoast", "http://www.tasteoftheseacoast.com/deals" %> - 50% gift certificates for local restaurants.</li>
	<li><%= link_to "TheLocalinSite.com", "http://thelocalinsite.com/weekly-in-site.html" %> - Happy hours and daily deals.</li>
	<li><%= link_to "Restaurant.com", "http://www.restaurant.com/listing?loc=03801&key=" %> - Cheap gift certificates, but check for restrictions on when they can be used.</li>
</ul>