<div class="carousel-container">
	<div id="carousel-1" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#studer" data-slide-to="0" class="active"></li>
			<li data-target="#lyndsy" data-slide-to="1"></li>
			<li data-target="#amy" data-slide-to="2"></li>
			<li data-target="#britt" data-slide-to="3"></li>
			<li data-target="#kendra" data-slide-to="4"></li>
			<li data-target="#hayley" data-slide-to="5"></li>
			<li data-target="#maddie" data-slide-to="6"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag("studer.jpg", alt: "Ashley", id: "studer") %>
				<div class="carousel-caption">
					Ashley Studer</br>Maid of Honor
				</div>
			</div>
			<div class="item">
				<%= image_tag("lyndsy.jpg", alt: "Lyndsy", id: "lyndsy") %>
				<div class="carousel-caption">
					Lyndsy Macri</br>Maid of Honor
				</div>
			</div>
			<div class="item">
				<%= image_tag("amy.jpg", alt: "Amy", id: "amy") %>
				<div class="carousel-caption">
					Amy Warren</br>Bridesmaid
				</div>
			</div>
			<div class="item">
				<%= image_tag("britt.jpg", alt: "Britt", id: "britt") %>
				<div class="carousel-caption">
					Britt Conway</br>Bridesmaid
				</div>
			</div>
			<div class="item">
				<%= image_tag("kendra.jpg", alt: "Kendra", id: "kendra") %>
				<div class="carousel-caption">
					Kendra Sutherland</br>Bridesmaid
				</div>
			</div>
			<div class="item">
				<%= image_tag("hayley.jpg", alt: "Hayley", id: "hayley") %>
				<div class="carousel-caption">
					Hayley Krukoff</br>Flower Girl
				</div>
			</div>
			<div class="item">
				<%= image_tag("maddie_slide.jpg", alt: "Maddie", id: "maddie") %>
				<div class="carousel-caption">
					Maddie</br>Ring Bearer
				</div>
			</div>
		</div>
		

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-1" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#carousel-1" data-slide="next">
			<span class="icon-next"></span>
		</a>
	</div>
</div>

