<em>*All times are approximate.</em></br>
<em>**All guests are invited to attend the rehearsal dinner.</em>

<div class="container itinerary">
	<h3 class="day">Friday 7/18</h3>
	<table class="table schedule">
		<tr>
			<td class="schedule-time">*6:00</td>
			<td class="schedule-event">Rehearsal</td>
			<td class="schedule-location"><%= link_to "#", class: "loc-link" do %>
					The Oaks
					<b class="caret"></b>
				<% end %>
				<ul class="popup">
					<li><%= link_to "Directions", "https://maps.google.com/maps?q=The+Oaks&ll=43.271159,-70.909131&spn=0.008874,0.015106&fb=1&gl=us&hq=the+oaks+somersworth+nh&cid=0,0,16615334167367120751&t=m&z=16&iwloc=A" %></li>
					<li><%= link_to "More info", "http://theoaksweddingsnh.com/" %></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="schedule-time">*7:30</td>
			<td class="schedule-event">**Rehearsal dinner</td>
			<td class="schedule-location"><%= link_to "#", class: "loc-link"  do %>
					The Victoria Inn
					 <b class="caret"></b>
				<% end %>
				<ul class="popup">
					<li><%= link_to "Directions", "https://maps.google.com/maps?q=The+Victoria+Inn+Bed+%26+Breakfast+and+Pavilion&ll=42.941156,-70.80785&spn=0.008922,0.014677&fb=1&gl=us&hq=victoria+inn&hnear=0x89e2e86dbae46463:0xe89c74abe205382,Hampton,+NH&cid=0,0,3651553335931690309&t=m&z=16&iwloc=A" %></li>
					<li><%= link_to "More info", "http://www.thevictoriainn.com/" %></li>
				</ul>
			</td>
		</tr>
	</table>
</div>

<div class="container itinerary">
	<h3 class="day">Saturday 7/19</h3>
	<table class="table schedule">
		<tr>
			<td class="schedule-time">*4:00</td>
			<td class="schedule-event">Ceremony</td>
			<td class="schedule-location"><%= link_to "#", class: "loc-link" do %>
					The Oaks
					<b class="caret"></b>
				<% end %>
				<ul class="popup">
					<li><%= link_to "Directions", "https://maps.google.com/maps?q=The+Oaks&ll=43.271159,-70.909131&spn=0.008874,0.015106&fb=1&gl=us&hq=the+oaks+somersworth+nh&cid=0,0,16615334167367120751&t=m&z=16&iwloc=A" %></li>
					<li><%= link_to "More info", "http://theoaksweddingsnh.com/" %></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="schedule-time">*4:30</td>
			<td class="schedule-event">Cocktail hour</td>
			<td class="schedule-location"></td>
		</tr>
		<tr>
			<td class="schedule-time">*6:00</td>
			<td class="schedule-event">Formal introductions and first dance</td>
			<td class="schedule-location"></td>
		</tr>
		<tr>
			<td class="schedule-time">*6:30</td>
			<td class="schedule-event">Dinner</td>
			<td class="schedule-location"></td>
		</tr>
		<tr>
			<td class="schedule-time">*7:30</td>
			<td class="schedule-event">Dance floor opens</td>
			<td class="schedule-location"></td>
		</tr>
	</table>
</div>

<div class="container itinerary">
	<h3 class="day">Sunday 7/20</h3>
	<table class="table schedule">
		<tr>
			<td class="schedule-time">*12:00</td>
			<td class="schedule-event">BBQ</td>
			<td class="schedule-location"><%= link_to "#", class: "loc-link"  do %>
					The Victoria Inn
					 <b class="caret"></b>
				<% end %>
				<ul class="popup">
					<li><%= link_to "Directions", "https://maps.google.com/maps?q=The+Victoria+Inn+Bed+%26+Breakfast+and+Pavilion&ll=42.941156,-70.80785&spn=0.008922,0.014677&fb=1&gl=us&hq=victoria+inn&hnear=0x89e2e86dbae46463:0xe89c74abe205382,Hampton,+NH&cid=0,0,3651553335931690309&t=m&z=16&iwloc=A" %></li>
					<li><%= link_to "More info", "http://www.thevictoriainn.com/" %></li>
				</ul>
			</td>
		</tr>
	</table>
</div>
