<%= provide(:title, 'Bridal Party') %>
<%= provide(:current_page, 'party') %>

<div class="blank-screen"></div>
<div class="white-screen">
	<h1 class="story"><span class="cursive">the</span> PARTY <%= image_tag("arrow.svg", alt: "arrow", class: "scroll-tip tip-left") %><%= image_tag("arrow.svg", alt: "arrow", class: "scroll-tip tip-right") %></h1>
	<div class="container content">
		<div class="page">
			<nav id="party-nav">
				<ul class="nav nav-pills centered-pills">
					<li class="active"><a href="#bridesmaids" data-toggle="tab">bridesmaids</a></li>
					<li><a href="#groomsmen" data-toggle="tab">groomsmen</a></li>
				</ul>
			</nav>

			<div class="tab-content">
				<div class="tab-pane active" id="bridesmaids">
					<%= render 'carousel_bridesmaids' %>
				</div>

				<div class="tab-pane" id="groomsmen">
					<%= render 'carousel_groomsmen' %>
				</div>
			</div>
		</div>
	</div>
</div>

