<%= provide(:title, 'Wedding Info') %>
<% provide(:current_page, 'wedding') %>
<div class="blank-screen"></div>
<div class="white-screen">
	<h1 class="story"><span class="cursive">the</span> WEDDING <%= image_tag("arrow.svg", alt: "arrow", class: "scroll-tip tip-left") %><%= image_tag("arrow.svg", alt: "arrow", class: "scroll-tip tip-right") %></h1>
	<div class="container content">
		<div class="page">
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#itinerary" data-toggle="tab">Itinerary</a></li>
				<li><a href="#accomodations" data-toggle="tab">Accomodations</a></li>
				<li><a href="#attractions" data-toggle="tab">Attractions</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane fade in active" id="itinerary">
					<%= render 'itinerary' %>
				</div>

				<div class="tab-pane fade" id="accomodations">
					<%= render 'accomodations' %>
				</div>

				<div class="tab-pane fade" id="attractions">
					<%= render 'attractions' %>
				</div>
			</div>
		</div>
	</div>
</div>