<!DOCTYPE html>
<html>
<head>
	<title><%=full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>
<body class="<%= background(yield(:current_page)) %>">

<%= render 'layouts/header' %>


<% flash.each do |key, value| %>
	<%= content_tag :div, class: "alert alert-dismissable alert-#{key}" do -%>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= value %>
	<% end %>
<% end %>
<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
